@CHARSET "ISO-8859-1";

#main-wrapper {
	margin-top: 50px;
}

.validate-error {
	color: #ff0000;
	font-weight: bold;
}

iframe {
	border: 0px;
}

.ui-state-highlight {
	height: 15px;
	border: solid 1px #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.free-float {
	position: absolute;
}

.free-float.left {
	left: 0px;
}

.free-float.right {
	right: 0px;
}

.free-float.blocks {
	background-color: #fff;
	height: auto;
}

ul.targetMenu {
	min-height: 10px;
}

ul.collapsible.closed li.menuItem {
	display: none;
}

.menuItem {
	font-size: 12px;
}

#input-peerOrderWeight {
	width: 20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) { /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) { /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) { /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : landscape) { /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) and (orientation : portrait) { /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1000px) {
	#browser {
		width: 900px;
		margin-left: -450px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) { /* Styles */
}